header {
    height: 8%;
    background-color: #b8a3c9;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 1px;
}

.navigation {
    height: 7vh;
}

table {
    width: 100%;
    height: 5vh;
}

tr {
    width: 100%;
    Margin: 1%;
}

td {
    width: 5%;
}

#filler {
    width: auto;
}
